---
import {Image} from 'astro:assets'
import {Examples} from './examples'
export interface Props {
  exampleId: string
}

const {exampleId} = Astro.props

const imageWidth = 1280
const imageHeight = 727
const imageDensities = [0.5, 1, 1.5, 2, 3]
const imageLoading = 'eager'
const imageFetchpriority = 'high'
let imageAlt = ''

let publicShareLink = ''

Examples.map((item) => {
  if (item.id === exampleId) {
    imageAlt = item.name
    publicShareLink = item.url
  }
})

const pathname = Astro.url.pathname
---

<section>
  <div class='relative'>
    <div
      dir='ltr'
      class='relative max-w-[600px] overflow-hidden lg:max-w-none'
      style='position: relative; --radix-scroll-area-corner-width: 0px; --radix-scroll-area-corner-height: 0px;'
    >
      <style>
        [data-radix-scroll-area-viewport] {
          scrollbar-width: none;
          -ms-overflow-style: none;
          -webkit-overflow-scrolling: touch;
        }
        [data-radix-scroll-area-viewport]::-webkit-scrollbar {
          display: none;
        }
      </style>
      <div
        data-radix-scroll-area-viewport=''
        class='h-full w-full rounded-[inherit]'
        style='overflow: scroll;'
      >
        <div style='min-width: 100%; display: table;'>
          <div class='mb-4 flex items-center'>
            {
              Examples.map((item) => {
                if (pathname.startsWith(`/examples/${item.id}`) || (item.default === true && pathname === '/')) {
                  return (
                    <a
                      class='flex h-7 items-center justify-center rounded-full bg-muted px-4 text-center text-sm font-medium text-primary transition-colors hover:text-primary'
                      href={`/examples/${item.id}/`}
                    >
                      {item.name}
                    </a>
                  )
                } else {
                  return (
                    <a
                      class='flex h-7 items-center justify-center rounded-full px-4 text-center text-sm text-muted-foreground transition-colors hover:text-primary'
                      href={`/examples/${item.id}/`}
                    >
                      {item.name}
                    </a>
                  )
                }
              })
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='overflow-hidden rounded-[0.5rem] border bg-background shadow'>
    <div class=''>
      <a
        href={publicShareLink}
        class='relative'
      >
        <div class='group absolute hidden h-full w-full md:block'>
          <div
            class='absolute left-[20px] top-[20px] flex items-center gap-x-2 rounded-md bg-black p-3 text-white opacity-0 shadow-md transition-opacity group-hover:opacity-70'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='24'
              height='24'
              viewBox='0 0 24 24'
              fill='none'
              stroke='currentColor'
              stroke-width='2'
              stroke-linecap='round'
              stroke-linejoin='round'
              class='lucide lucide-square-arrow-out-up-right'
              ><path d='M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6'></path><path d='m21 3-9 9'
              ></path><path d='M15 3h6v6'></path></svg
            >
          </div>
        </div>
        {
          exampleId === 'ubuntu' && (
            <Image
              src={import(`@/images/ubuntu-latest.png`)}
              width={imageWidth}
              height={imageHeight}
              densities={imageDensities}
              loading={imageLoading}
              fetchpriority={imageFetchpriority}
              alt={imageAlt}
            />
          )
        }
        {
          exampleId === 'alpine' && (
            <Image
              src={import(`@/images/alpine-latest.png`)}
              width={imageWidth}
              height={imageHeight}
              densities={imageDensities}
              loading={imageLoading}
              fetchpriority={imageFetchpriority}
              alt={imageAlt}
            />
          )
        }
        {
          exampleId === 'rails' && (
            <Image
              src={import(`@/images/rails-latest.png`)}
              width={imageWidth}
              height={imageHeight}
              densities={imageDensities}
              loading={imageLoading}
              fetchpriority={imageFetchpriority}
              alt={imageAlt}
            />
          )
        }
        {
          exampleId === 'postgres' && (
            <Image
              src={import(`@/images/postgres-latest.png`)}
              width={imageWidth}
              height={imageHeight}
              densities={imageDensities}
              loading={imageLoading}
              fetchpriority={imageFetchpriority}
              alt={imageAlt}
            />
          )
        }
        {
          exampleId === 'python' && (
            <Image
              src={import(`@/images/python-latest.png`)}
              width={imageWidth}
              height={imageHeight}
              densities={imageDensities}
              loading={imageLoading}
              fetchpriority={imageFetchpriority}
              alt={imageAlt}
            />
          )
        }
        {
          exampleId === 'mysql' && (
            <Image
              src={import(`@/images/mysql-latest.png`)}
              width={imageWidth}
              height={imageHeight}
              densities={imageDensities}
              loading={imageLoading}
              fetchpriority={imageFetchpriority}
              alt={imageAlt}
            />
          )
        }
        {
          exampleId === 'node' && (
            <Image
              src={import(`@/images/node-latest.png`)}
              width={imageWidth}
              height={imageHeight}
              densities={imageDensities}
              loading={imageLoading}
              fetchpriority={imageFetchpriority}
              alt={imageAlt}
            />
          )
        }
        {
          exampleId === 'redis' && (
            <Image
              src={import(`@/images/redis-latest.png`)}
              width={imageWidth}
              height={imageHeight}
              densities={imageDensities}
              loading={imageLoading}
              fetchpriority={imageFetchpriority}
              alt={imageAlt}
            />
          )
        }
      </a>
    </div>
  </div>
  <div class='flex justify-center md:hidden'>
    <p class='mt-2 font-semibold'>Tap to open</p>
  </div>
</section>
