---
import {Image} from 'astro:assets'
import {Examples} from './examples'
export interface Props {
  exampleId: string
}

const {exampleId} = Astro.props

const imageWidth = 1280
const imageHeight = 727
const imageDensities = [1, 2, 3]
const imageLoading = 'eager'
const imageFetchpriority = 'high'
let imageAlt = ''

let publicShareLink = ''

Examples.map((item) => {
  if (item.id === exampleId) {
    imageAlt = item.name
    publicShareLink = item.url
  }
})

const pathname = Astro.url.pathname
---

<section>
  <div class='relative'>
    <div
      dir='ltr'
      class='relative max-w-[600px] overflow-hidden lg:max-w-none'
      style='position: relative; --radix-scroll-area-corner-width: 0px; --radix-scroll-area-corner-height: 0px;'
    >
      <style>
        [data-radix-scroll-area-viewport] {
          scrollbar-width: none;
          -ms-overflow-style: none;
          -webkit-overflow-scrolling: touch;
        }
        [data-radix-scroll-area-viewport]::-webkit-scrollbar {
          display: none;
        }
      </style>
      <div
        data-radix-scroll-area-viewport=''
        class='h-full w-full rounded-[inherit]'
        style='overflow: scroll;'
      >
        <div style='min-width: 100%; display: table;'>
          <div class='mb-4 flex items-center'>
            {
              Examples.map((item) => {
                if (pathname === `/examples/${item.id}` || (item.default === true && pathname === '/')) {
                  return (
                    <a
                      class='flex h-7 items-center justify-center rounded-full bg-muted px-4 text-center text-sm font-medium text-primary transition-colors hover:text-primary'
                      href={`/examples/${item.id}`}
                    >
                      {item.name}
                    </a>
                  )
                } else {
                  return (
                    <a
                      class='flex h-7 items-center justify-center rounded-full px-4 text-center text-sm text-muted-foreground transition-colors hover:text-primary'
                      href={`/examples/${item.id}`}
                    >
                      {item.name}
                    </a>
                  )
                }
              })
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='overflow-hidden rounded-[0.5rem] border bg-background shadow'>
    <div class=''>
      <a
        href={publicShareLink}
        class='relative'
      >
        <div class='group absolute hidden h-full w-full md:block'>
          <div
            class='bg-black absolute left-[20px] top-[20px] flex items-center gap-x-2 rounded-md p-3 text-white opacity-0 shadow-md transition-opacity group-hover:opacity-100'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='24'
              height='24'
              viewBox='0 0 24 24'
              fill='none'
              stroke='currentColor'
              stroke-width='2'
              stroke-linecap='round'
              stroke-linejoin='round'
              class='lucide lucide-link'
              ><path d='M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71'></path><path
                d='M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71'></path></svg
            >
            <span>Click to open</span>
          </div>
        </div>
        {
          exampleId === 'ubuntu' && (
            <Image
              src={import(`@/images/ubuntu-latest.png`)}
              width={imageWidth}
              height={imageHeight}
              densities={imageDensities}
              loading={imageLoading}
              fetchpriority={imageFetchpriority}
              alt={imageAlt}
            />
          )
        }
        {
          exampleId === 'alpine' && (
            <Image
              src={import(`@/images/alpine-latest.png`)}
              width={imageWidth}
              height={imageHeight}
              densities={imageDensities}
              loading={imageLoading}
              fetchpriority={imageFetchpriority}
              alt={imageAlt}
            />
          )
        }
        {
          exampleId === 'rails' && (
            <Image
              src={import(`@/images/rails-latest.png`)}
              width={imageWidth}
              height={imageHeight}
              densities={imageDensities}
              loading={imageLoading}
              fetchpriority={imageFetchpriority}
              alt={imageAlt}
            />
          )
        }
        {
          exampleId === 'postgres' && (
            <Image
              src={import(`@/images/postgres-latest.png`)}
              width={imageWidth}
              height={imageHeight}
              densities={imageDensities}
              loading={imageLoading}
              fetchpriority={imageFetchpriority}
              alt={imageAlt}
            />
          )
        }
        {
          exampleId === 'python' && (
            <Image
              src={import(`@/images/python-latest.png`)}
              width={imageWidth}
              height={imageHeight}
              densities={imageDensities}
              loading={imageLoading}
              fetchpriority={imageFetchpriority}
              alt={imageAlt}
            />
          )
        }
        {
          exampleId === 'mysql' && (
            <Image
              src={import(`@/images/mysql-latest.png`)}
              width={imageWidth}
              height={imageHeight}
              densities={imageDensities}
              loading={imageLoading}
              fetchpriority={imageFetchpriority}
              alt={imageAlt}
            />
          )
        }
        {
          exampleId === 'node' && (
            <Image
              src={import(`@/images/node-latest.png`)}
              width={imageWidth}
              height={imageHeight}
              densities={imageDensities}
              loading={imageLoading}
              fetchpriority={imageFetchpriority}
              alt={imageAlt}
            />
          )
        }
        {
          exampleId === 'redis' && (
            <Image
              src={import(`@/images/redis-latest.png`)}
              width={imageWidth}
              height={imageHeight}
              densities={imageDensities}
              loading={imageLoading}
              fetchpriority={imageFetchpriority}
              alt={imageAlt}
            />
          )
        }
      </a>
    </div>
  </div>
  <div class='flex justify-center md:hidden'>
    <p class='mt-2 text-muted-foreground'>Tap to open</p>
  </div>
</section>
